@keyframes slideIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    
}

header{
    animation-name: slideIn;
    animation-duration: 2s;
}


